*{
  margin: 0;
  padding: 0
}
body{
  background-color: rgba(0, 255, 234, 0.747);
}
#container{
  background-color: white;
  position: absolute;
  width: 80%;
  margin: auto;
  left: 0;
  right: 0;
  top: 60px;
}
h1{
  padding: 15px
}
p{
  padding: 15px;
  font-family: "宋体";
  font-size: 20px;
  text-indent: 40px;
}
img{
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-top: 30px;
  opacity: 0
}
.img_active{
  transition: all 0.5s;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-top: 30px;
  opacity: 1;
}
