*{
  margin: 0;
  padding: 0
}
body{
  background-image: url(./138-140FQ12H4.jpg);
  background-size: cover
}
#container{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 300px;
  height: 600px;
  border: 10px solid rgba(0, 0, 0, .1)
}
#controlers{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  margin: auto;
  width: 97%;
  height: 100px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
        "header"
        "footer";
  grid-row-gap: 5px;
}
h3{
  text-align: center;
  margin-top: 20px
}
#addItem{
  display: flex;
  justify-content: space-between;
}

#addItem input{
  width: 70%;
  font-size: 18px;
  outline: none;
}
#addItem button{
 width: 28%;
 outline: none;
 background-color: rgba(0,0,0,.1);
 border: 1px solid rgba(0,0,0,.1);
}
#btns{
  display: flex;
  justify-content: space-between;
}
#btns button{
  width: 32%;
  background-color: rgba(0,0,0,.1);
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
}
#showItem{
  position: absolute;
  top: 60px;
  bottom: 120px;
  left: 1.5%;
  right: 1.5%;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  background-color: rgba(0,0,0,.2);
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .5px solid gray;
  margin-top: 12px;
  padding-bottom: 5px;
  flex-shrink:  0
}
img{
  float: left;
  width: 15px;
  height: 15px;
  margin-left: 2px;
}
.word{
  margin-left: 5px;
  flex:1;
  word-wrap: break-word
}

/* 自定义滚动条样式 */
#showItem::-webkit-scrollbar{
  appearance: none;
  width: 10px;
}