body{
  background-image: url(./u=3950488706\,4087864940&fm=26&gp=0.jpg);
}

ul{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 700px;
  border: 10px solid rgba(255, 100, 255, .3);
  background-color: rgba(255, 255, 255, .8);
  /* display: flex;
  flex-direction: column; */
  list-style: inside square
}
li{
  width: 380px;
  height: 30px;
  display: list-item;
  font-size: 20px;
  padding: 11px;
  border-bottom: 1px solid gray;
  margin-left: -20px;
}