*{
  margin: 0;
  padding: 0
}


#controlers{
  display: grid;
  grid-template: 100px 300px / 100px 250px 100px 250px 100px 250px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  grid-template-areas: "frist second thrid fourth fifth sixth"
                        "ninth ninth ninth ninth ninth ninth";
}
input{
  width: 200px;
}
#takePhoto{
  height: 40px;
  width: 100%;
}
#takePhoto button{
  width: 100px;
  height: 39px;
  margin-left: 45%;
  margin-top: 45px;
}
video{
  grid-area: ninth;
  width: 1050px;
  height: 300px;
}