*{
  padding: 0;
  margin: 0;
}

body{
  background-color: skyblue;
}

.container{
  position: absolute;
  margin: auto;
  width: 1200px;
  height: 700px;
  border: 1px solid yellow;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

img{
  position: absolute;
  margin: auto;
  width: 500px;
  height: 300px;
  border : 5px solid #000000;
  left: 0;
  top: 200px;
  right: 0;
  bottom: 0;
}

.controlers{
  position: absolute;
  margin: 0 auto;
  width: 700px;
  height: 40px;
  left: 0;
  top: 150px;
  right: 0;
  bottom: 0;
  font-size: 25px;
  font-weight: bold;
}

#border, #blur{
  margin-right: 60px;
}

h1{
  margin: 0 auto;
  width: 300px;
}